
img{
  border-radius: 20%
}
h2 {
  color: #a51cdb ;
  position : relative;
  bottom: 10px;
  left: 460px;
}
p{
  color: purple
 
}
body>p {
  color: palevioletred;
}
ul{
  color: purple ;
}
table{
  color: #8540a0 ;

}
a:visited {
color: rgb(56, 11, 180);

}
div em {
color: rgb(226, 178, 194);

}
input{
  border-color:  red;
  border-width: 2px;
  background-color: palevioletred;
}
fieldset{
  background-color: palevioletred;
  bottom: 10px;
  left: 20px;
}
footer p{
  font-family: calibri;
 }
 
 footer p:nth-child(1){
  font-size: 30px;
  font-weight:bold;
  color:#FFFFFF;
  line-height:10px;
 }
 
 footer p:nth-child(2){
  font-size: 16px;
  color:#7e7d7d;
  width:600px;
  text-align: center;
 }
 
 footer{
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #191919;
 }
 
 .social-icons a{
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#e6e3e3;
  margin:20px 10px;
  border-radius:50%;
 }
 
 .social-icons{
  display: flex;
  
 }
 
 .social-icons i,.social i{
  color:#000000;
 }
 
 .social-icons a:hover{
  background-color:#000000;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
  transition:all ease 0.5s;
 }
 
 .social-icons a:hover i,
 .social a:hover i{
  color:#FFFFFF;
  transition:all ease 0.5s;
 }
  
 .copyright{
  color:#565555;
  font-size: 15px;
  position: absolute;
  left:50%;
  bottom:10px;
  transform: translateX(-50%);
 }
 .social{
  position: fixed;
  top:50%;
  right:0px;
  transform:translateY(-50%);
 }
 
 .social a{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  margin:0px;
  padding: 0px;
  line-height:0px;
  background-color:#FFFFFF;
  border:1px solid #CBCBCB;
  box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 }
 
 .social a:hover{
  background-color:#000000;
  transition:all ease 0.5s;
 }
 
 .social i{
  font-size:20px;
  color:#2B2B2B;
 }